.search-box {
    text-align: center;
    color: black;
    background-image: url("../../Images/020_2467x2448_all-free-download.com.jpg");
  }
  
  .card-header {
    border-bottom: 1px solid white;
  }
  
  .btn {
    padding: 20px;
  }
  
  input {
    margin-bottom: 20px;
    text-align: center
  }